Options +FollowSymlinks
RewriteEngine on

#RewriteCond %{HTTP_HOST} !^cbrplx\.io$       [NC]
#RewriteRule ^(.*)$       http://cbrplx.io/$1 [R=301,L]

RewriteCond %{QUERY_STRING} PHPSESSID=.*$ 
RewriteRule .* %{REQUEST_URI}? [R=301,L]

#RewriteCond %{HTTP_USER_AGENT} libwww-perl.* 
#RewriteRule .* – [F,L]

RewriteRule ^404/$  404.php
RewriteRule ^403/$  403.php
RewriteRule ^about/$  a_propos.php
RewriteRule ^admin/$  admin.php
RewriteRule ^articles/(.*)-(.*)$  article.php?id_article=$2

ErrorDocument 404 /404/
ErrorDocument 403 /403/