<table width="100%" style="box-shadow: 0px 0px 4px 1px #B8B8B8; background-color: #ffffff; padding: 1em 2em 2em 2em; min-height: 200px;">
    <tbody>
        <tr>
            <td>
                <table width="100%" style="padding-top:10px;">
                    <tbody>
                        <tr>
                            <td width="75px">
                                <img src="https://cbrplx.io/dist/images/icone/email-icone.png" />
                            </td>
                            <td align="left" style="font-weight: normal; font-size: 22px; color:#0b2439;">
                                Inscription à la newsletter
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="padding: 0 0 0 82px; color: #818181;">
                    <tbody>
                        <tr>
                            <td>
                                Bonjour {{nom}},<br/><br/>
                                Nous avons bien enregistré votre inscription à la newsletter de <a href="https://cbrplx.io/" style="outline:none;text-decoration:none;border-top:none; border-left:none; border-right:none; color:#4bb6d1;">cbrplx.io</a>.<br/><br/>
                                Vous recevrez désormais toutes les informations concernant les nouveautés à venir sur le site.
                                <br/><br/>
                                Have a nice day.<br/><br/>
                                <div style="text-align:right">Robin Pierrot</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>