<table width="100%" style="box-shadow: 0px 0px 4px 1px #B8B8B8; background-color: #ffffff; padding: 1em 2em 2em 2em; min-height: 200px;">
    <tbody>
        <tr>
            <td>
                <table width="100%" style="padding-top:10px;">
                    <tbody>
                        <tr>
                            <td width="75px">
                                <img src="https://cbrplx.io/dist/images/icone/email-icone.png" />
                            </td>
                            <td align="left" style="font-weight: normal; font-size: 22px; color:#0b2439;">
                                Nouvelle inscription à la newsletter
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="padding: 0 0 0 82px; color: #818181;">
                    <tbody>
                        <tr>
                            <td>
                                Une nouvelle inscription à la newsletter a été enregistrée :<br/><br/>
                                Nom : {{nom}}<br/>
                                Email : {{email}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>