<div class="bloc-container proxima-bold">
	<div class="bloc-baniere" id="mon_experience" style="background-image:url('/dist/images/404.jpg')">
	</div>
	<div id="404">
		<h1 class="bloc-titre txtcenter pas man proxima-bold">
			This page has been destroyed
		</h1>
		<div class="bloc-ss-titre prs pls mbl pbl uppercase txtcenter h6-like">
			{# <span class="icone-horloge-gris txtmiddle"></span> #}
			<h6 class="txtmiddle pls man inbl proxima-bold">Error 404</h6>
		</div>
	</div>
</div>

<script type="text/javascript">
	var quatre = document.getElementById("404");
    var w = window,
    d = document,
    e = d.documentElement,
    g = d.getElementsByTagName('body')[0],
    x = w.innerWidth || e.clientWidth || g.clientWidth,
    y = w.innerHeight|| e.clientHeight|| g.clientHeight;
    var demi_ecran = y/2;
    quatre.style.minHeight = demi_ecran+"px";
</script>