<div class="bloc-container proxima-bold">
	<div class="bloc-baniere" id="mon_experience" style="background-image:url('/dist/images/404.jpg')">
	</div>
	<h1 class="bloc-titre txtcenter pas man proxima-bold">
		This page has been destroyed
	</h1>
	<div class="bloc-ss-titre prs pls mbl pbl uppercase txtcenter h6-like">
		{# <span class="icone-horloge-gris txtmiddle"></span> #}
		<h6 class="txtmiddle pls man inbl">Error 404</h6>
	</div>
</div>