<div class="bloc-container proxima-bold">
	<div class="bloc-baniere" id="mon_experience" style="background-image:url('/dist/images/admin.jpg')">
	</div>
	{% block admin_contenu %}
	<div class="bloc-titre txtcenter pas">
		Admin
	</div>
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<a href="#"><span class="icone-stylo-bleu txtmiddle"></span><span class="txtmiddle pls">Ajouter un article</span></a>
	</div>
	<div class="bloc-ss-titre prs pls uppercase txtcenter h6-like">
		<a href="#"><span class="icone-stylo-bleu txtmiddle"></span><span class="txtmiddle pls">Modifier un article</span></a>
	</div>
	<div class="bloc-text">
	</div>
	{% endblock %}
</div>