<div class="bloc-footer">
	<div class="bloc-footer-contenu">
		<div class="row txtcenter">
			<div class="txtmiddle h6-like">
				<span class="txtmiddle">Made with </span><span class="icone-coeur txtmiddle"></span><span class="txtmiddle"> by <span class="proxima-bold">cbrplx</span></span>
			</div>
		</div>
	</div>
</div>