<div class="bloc-footer">
	<div class="bloc-footer-contenu">
		<div class="txtcenter">
			<div class="txtmiddle h6-like">
				<span class="txtmiddle">Made with </span><span class="icone-coeur txtmiddle"></span><span class="txtmiddle"> by <h6 class="proxima-bold normal inline man">cbrplx</h6></span>
			</div>
		</div>
	</div>
</div>