<div class="proxima-bold pas go-back transition" id="go-back">
	<div>
		<a href="javascript: window.history.go(-1)" class="not-a-like inbl transition"> <i class="fa fa-arrow-left prs"></i>{{"Go Back"|upper}}</a>
	</div>
</div>
<div class="proxima-bold pas go-back" id="go-back-bloc">
	<div>
		<a href="javascript: window.history.go(-1)" class="not-a-like inbl transition"> <i class="fa fa-arrow-left prs"></i>{{"Go Back"|upper}}</a>
	</div>
</div>