<div class="bloc-header">
	<div class="bloc-header-contenu">
		<div class="row">
			<div class="col w50 txtmiddle txtright prl">
				<span class="bloc-rond photo-profil inbl">
				</span>
			</div>
			<div class="col w50 txtmiddle h4-like txtleft">
				Hi, je suis <a href="http://cbrplx.io/" class="proxima-bold">@cbrplx</a>, aka Robin Pierrot.<br/>
				<div class="inline-tablette inline-mobile">
					J'ai 21 ans et je suis chef de projet. Je travaille
				</div>
				<div class="inline-tablette inline-mobile">actuellement pour une startup Parisienne :
					<a href="http://neo-nomade.com/" target="_blank" class="proxima-bold">Neo-nomade</a>.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col txtcenter pas bloc-mobile">
				<a href="#" class="btn-header uppercase pas h4-like transition">EN SAVOIR PLUS SUR MOI</a>
			</div>
		</div>
		<div class="row txtcenter">
			<span class="icone-fleche-bas" id="icone-fleche-bas"></span>
		</div>
	</div>
</div>