<div class="bloc-header">
	<div class="bloc-header-contenu">
		<div class="row">
			<div class="col w50 txtmiddle txtright prl">
				<a href="/">
					<span class="bloc-rond photo-profil inbl">
					</span>
				</a>
			</div>
			<div class="col w50 txtmiddle h4-like txtleft">
				Hi, je suis <a href="http://cbrplx.io/"><h4 class="man inline proxima-bold">@cbrplx</h4></a>, aka <h4 class="man inline thin proxima">Robin Pierrot</h4>.<br/>
				<div class="inline-tablette inline-mobile">
					J'ai 21 ans et je suis <h4 class="man inline thin proxima">chef de projet</h4>. Je travaille
				</div>
				<div class="inline-tablette inline-mobile">actuellement pour une <h4 class="man inline thin proxima">startup Parisienne</h4> :
					<a href="http://neo-nomade.com/" target="_blank"><h4 class="man inline proxima-bold">Neo-nomade</h4></a>.
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col txtcenter pas bloc-mobile">
				<a href="/about/" class="btn-header uppercase pas h4-like transition">EN SAVOIR PLUS SUR MOI</a>
			</div>
		</div>
		<div class="row txtcenter">
			<span class="icone-fleche-bas" id="icone-fleche-bas"></span>
		</div>
	</div>
</div>