{% if displayHeader %}
    <div class="bloc-container proxima-bold">
        {% include 'headerUser.html.twig'
            with {
                'user': userHeader,
                'socials': socialsHeader,
                'linkToProfile': true,
            } 
        %}
    </div>
{% endif %} 