<img src="path" />
<div class="preview-photo-options pas" id="path">
<span class="txtwhite lh1"></span>
<span class="icone-cross-white right" title="Supprimer la photo" onclick="delPhoto('path')"></span>
</div>