<img src="/dist/assets/1/1.jpg" />
<div class="preview-photo-options pas">
	<span class="txtwhite lh1">1.jpg</span>
	<span class="icone-cross-white right" title="Supprimer la photo de couverture"></span>
</div>