{% extends "squelette.html.twig" %}

{% block head %}
  <title>CBRPLX.IO</title>
  <meta name="description" content="Trouvez un lieu de travail où que vous soyez : coworking, salon d'affaire, salle de réunion et découvrez nos solutions sur-mesure pour les entreprises">

  <!--- Viewport tweaks -->
  <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="{TITLE}">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Windows 8 et windows phone-->
  <meta name="application-name" content="{TITLE}"/>
  <meta name="msapplication-TileColor" content="#0f5f68"/>
  <meta name="msapplication-square70x70logo" content="image/design/windows-tiny.png"/>
  <meta name="msapplication-square150x150logo" content="image/design/windows-square.png"/>
  <meta name="msapplication-wide310x150logo" content="image/design/windows-wide.png"/>
  <meta name="msapplication-square310x310logo" content="image/design/windows-large.png"/>
  <meta name="msapplication-tap-highlight" content="no"/> 

  <!-- Apple touch icons -->
  <link rel="apple-touch-icon-precomposed" href="image/design/apple-touch-icon-152x152-precomposed.png" sizes="152x152">
  <link rel="apple-touch-icon-precomposed" href="image/design/apple-touch-icon-120x120-precomposed.png" sizes="120x120">
  <link rel="apple-touch-icon-precomposed" href="image/design/apple-touch-icon-76x76-precomposed.png" sizes="76x76">
  <link rel="apple-touch-icon-precomposed" href="image/design/apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon" href="image/design/apple-touch-icon-152x152-precomposed.png" sizes="152x152">

  <!-- Apple load image -->
  <!-- iPad, retina, portrait -->
  <link href="image/design/apple-touch-startup-image-1536x2008.png" 
        media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPad, retina, landscape -->
  <link href="image/design/apple-touch-startup-image-1496x2048.png"
        media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPad, portrait -->
  <link href="image/design/apple-touch-startup-image-768x1004.png"
        media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">
  <!-- iPad, landscape -->
  <link href="image/design/apple-touch-startup-image-748x1024.png"
        media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">
  <!-- iPhone 5 -->
  <link href="image/design/apple-touch-startup-image-640x1096.png"
        media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPhone, retina -->
  <link href="image/design/apple-touch-startup-image-640x920.png"
        media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)"
        rel="apple-touch-startup-image">
  <!-- iPhone -->
  <link href="image/design/apple-touch-startup-image-320x460.png"
        media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)"
        rel="apple-touch-startup-image">

  <!-- Facebook -->
  <meta property="og:title" content="{TITLE}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Neo-Nomade Pro est la première solution de bureaux flexibles pour les professionnels.">
  <meta property="og:image" content="http://pro.neo-nomade.com/image/design/share.png">
  <meta property="og:url" content="http://pro.neo-nomade.com/">
  <meta property="og:site_name" content="{SITE_NAME}">
  <meta property="fb:admins" content="1614882856">

  <!-- Google+ -->
  <meta itemprop="name" content="{TITLE}">
  <meta itemprop="description" content="Neo-Nomade Pro est la première solution de bureaux flexibles pour les professionnels.">
  <meta itemprop="image" content="http://pro.neo-nomade.com/image/design/share.png">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@neonomade_com">
  <meta name="twitter:title" content="{TITLE}">
  <meta name="twitter:description" content="Neo-Nomade Pro est la première solution de bureaux flexibles pour les professionnels.">
  <meta name="twitter:creator" content="@CBRPLX">
  <meta name="twitter:image:src" content="http://pro.neo-nomade.com/image/design/share.png">
{% endblock %}