{% extends 'add_article.html.twig' %}

{% block del_article %}

<div class="row pas txtleft">
	<div id="delete_article" class="txtrouge btn btn-supprimer proxima-bold"><span class="icone-trash-red txtmiddle"></span><span class="txtmiddle pls">Supprimer</span></div>
</div>

{% endblock %}