<div class="bloc-newsletter bloc-text">
	<form id="form_news txtcenter">
		<input type="text" name="nom_news" placeholder="Nom Prénom" class="pas proxima-bold" />
		<input type="text" name="email_news" placeholder="Email" class="pas proxima-bold" />
		<input type="submit" name="news_submit" value="Subscribe" class="pas proxima-bold" />
	</form>
</div>