<div class="bloc-container proxima-bold">
	<div class="bloc-baniere user" style="background-image:url('/{{user.get('img')}}')">
	</div>
	<div>
		<h1 class="bloc-titre txtcenter pas man proxima-bold">
			{{user.get('prenom')}} {{user.get('nom')}}
		</h1>
		<div class="bloc-ss-titre prs pls mbl pbl uppercase txtcenter h6-like">
			<span class="icone-skull txtmiddle"></span>
			<h6 class="txtmiddle pls man inbl proxima-bold">Coucou</h6>
		</div>
	</div>
</div>