/* ---------------------------------- */
/* ==visual helpers                   */
/* .. use them with parcimony !       */
/* ---------------------------------- */

/* blocks widths (percentage and pixels) */
.w10    { 
	width: 10%; 
}

.w20    { 
	width: 20%; 
}

.w25    { 
	width: 25%; 
}

.w30    { 
	width: 30%; 
}

.w33    { 
	width: 33.3333%; 
}

.w40    { 
	width: 40%; 
}

.w50    { 
	width: 50%; 
}

.w60    { 
	width: 60%; 
}

.w66    { 
	width: 66.6666%; 
}

.w70    { 
	width: 70%; 
}

.w75    { 
	width: 75%; 
}

.w80    { 
	width: 80%; 
}

.w90    { 
	width: 90%; 
}

.w100   { 
	width: 100%; 
}

.w10p   { 
	width: 10px; 
}

.w20p   { 
	width: 20px; 
}

.w50p   { 
	width: 50px; 
}

.w80p   { 
	width: 80px; 
}

.w100p  { 
	width: 100px; 
}

.w150p  { 
	width: 150px; 
}

.w200p  { 
	width: 200px; 
}

.w300p  { 
	width: 300px; 
}

.w400p  { 
	width: 400px; 
}

.w500p  { 
	width: 500px; 
}

.w600p  { 
	width: 600px; 
}

.w700p  { 
	width: 700px; 
}

.w800p  { 
	width: 800px; 
}

.w960p  { 
	width: 960px; 
}

.mw960p { 
	max-width: 960px; 
}

.w1140p  { 
	width: 1140px; 
}

.mw1140p { 
	max-width: 1140px; 
}

.wauto  { 
	width: auto; 
}

/* spacing helpers
p,m = padding,margin
a,t,r,b,l = all,top,right,bottom,left
s,m,l,n = small, medium, large, none
*/
.man { 
	margin: 0 !important; 
}

.pan { 
	padding: 0 !important; 
}

.mas { 
	margin: $small-value !important; 
}

.mam {
	margin: $medium-value !important; 
}

.mal { 
	margin: $large-value !important; 
}

.pas { 
	padding: $small-value !important; 
}

.pam { 
	padding: $medium-value !important; 
}

.pal { 
	padding: $large-value !important; 
}

.mtn { 
	margin-top: 0 !important; 
}

.mts { 
	margin-top: $small-value !important; 
}

.mtm { 
	margin-top: $medium-value !important; 
}

.mtl { 
	margin-top: $large-value; 
}

.mrn { 
	margin-right: 0 !important; 
}

.mrs {
	margin-right: $small-value !important; 
}

.mrm { 
	margin-right: $medium-value !important; 
}

.mrl { 
	margin-right: $large-value !important; 
}

.mbn { 
	margin-bottom: 0 !important; 
}

.mbs { 
	margin-bottom: $small-value !important; 
}

.mbm { 
	margin-bottom: $medium-value !important; 
}

.mbl { 
	margin-bottom: $large-value !important; 
}

.mln { 
	margin-left: 0 !important; 
}

.mls { 
	margin-left: $small-value !important; 
}

.mlm { 
	margin-left: $medium-value !important; 
}

.mll { 
	margin-left: $large-value !important; 
}

.ptn { 
	padding-top: 0 !important; 
}

.pts { 
	padding-top: $small-value !important; 
}

.ptm { 
	padding-top: $medium-value !important; 
}

.ptl { 
	padding-top: $large-value !important; 
}

.prn { 
	padding-right: 0 !important; 
}

.prs { 
	padding-right: $small-value !important; 
}

.prm { 
	padding-right: $medium-value !important; 
}

.prl { 
	padding-right: $large-value !important; 
}

.pbn { 
	padding-bottom: 0 !important; 
}

.pbs { 
	padding-bottom: $small-value !important; 
}

.pbm { 
	padding-bottom: $medium-value !important; 
}

.pbl { 
	padding-bottom: $large-value !important; 
}

.pln { 
	padding-left: 0 !important; 
}

.pls { 
	padding-left: $small-value !important; 
}

.plm { 
	padding-left: $medium-value !important; 
}

.pll { 
	padding-left: $large-value !important; 
}