@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.bloc-tablette {
		width: auto!important;
		display: block!important;
	}
}

@media (max-width: $small-screen) {
	.bloc-mobile {
		width: auto!important;
		display: block!important;
	}
}

@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.inline-tablette {
		width: auto!important;
		display: inline !important;
	}
}

@media (max-width: $small-screen) {
	.inline-mobile {
		width: auto!important;
		display: inline !important;
	}
}

.bloc-header{
	min-height: 465px;
	max-height: 100%;
	height: 100%;
	background-image: url('/dist/images/stan.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:$white;
	background-position: 50%;

	a{
		color: $white;

		&:hover{
			color: $white;
		}
	}

	.bloc-header-contenu{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.67);
		padding-top: 20px;

		.row{
			// height: 50%;

			&:first-of-type{
				padding-top: 10%;
				@media (max-width: $small-screen) {
					padding: 0;
				}
			}

			.col{
				height: 100%;

				&.w50{
					@media (max-width: $small-screen) {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				&.txtright{
					padding-right: 150px !important;

					@media (max-width: $small-screen) {
						padding: 1em !important;
						text-align: center;
					}
				}

				&.txtleft{
					line-height: 30px;

					@media (max-width: $small-screen) {
						padding: 1em;
					}
				}

				.photo-profil{
					width: 150px;
					height: 150px;
					background-image: url("/assets/users/1.jpg=300x300xcarre");
					background-size: 150px 150px;
				}
			}

			&+.row{
				padding-top: 8%;
			}

			&:last-of-type{
				padding: 0 0 1em 0;
				position: absolute;
				width: 100%;
				bottom: 0;

				@media (max-height: 465px) {
					position: relative;
					padding-top: 2em;
				}

				.icone-fleche-bas{
					cursor: pointer;
				}
			}
		}
	}
}

.bloc-rond {
	@include border-radius(50%);
	background-color: #FFFFFF;
	overflow: hidden;

	&.cadre {
		border: 1px solid $gris-font;
	}
}

.bloc-footer{
	background-image: url('/dist/images/stan.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:$white;
	background-position: 50% 82%;

	.bloc-footer-contenu{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.67);
		padding: 0 0 140px 0;
	}
}

.bloc-newsletter{
	padding: 140px 0;
	max-width: 600px;
	margin: auto;
	line-height: 1.2em;
	color: $white;
	font-size: 1.2em;

	&>div{
		font-size: 0.85em;
	}

	form{
		div{
			input{
				border: 2px solid $white !important;
				border-radius: 3px;
				color: $gris-title;
				background-color: $white;
				font-size: 1em;

				@include input-placeholder{
					color: $gris-title;
				}
			}

			button{
				background-color: transparent;
				color: $white;
				width: 100%;
				border-radius: 3px;
				font-size: 1em;
				border: 1px solid $white !important;
				border-bottom: 3px solid $white !important;

				&:hover{
					background-color: $white;
					color: $gris-title;
				}

				&.news-error{
					color: $white;
					background-color: $rouge !important;
					border-color: $rouge !important;
				}

				&.news-deal{
					color: $white;
					background-color: rgba(60, 216, 35, 0.87) !important;
					border-color: rgba(60, 216, 35, 0.87) !important;
				}
			}

			&.w30{
				width: 35%;
			}



			@media (max-width: $small-screen) {
				width: 100% !important;
				padding: 0 !important;
			}
		}
	}
}

.bloc-container{

	.bloc-baniere{
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		height: 300px;
	}

	.bloc-titre{
		font-size: 4.5em;
		color: $gris-title;
		padding-top: 103px !important;
		padding-bottom: 103px !important;

		@media (max-width: $small-screen) {
			font-size: 3em;
		}
	}

	.bloc-ss-titre{	}

	.bloc-text{
		max-width: 600px;
		margin: auto;
		line-height: 30px;
		margin-top: 30px;
		padding-bottom: 100px;
		color: $gris-font;

		.list-a-propos{
			.col{
				&:first-of-type{
					min-width: 39px;

					@media (max-width: $small-screen) {
						min-width: 44px;
					}
				}

				@media (min-width: $small-screen) {
					&+.col{
						padding-left: 5px;
					}
				}
			}
		}

		.bloc-projet{
			position: relative;
			background-repeat: no-repeat;
			background-position: 50%;
			// background-size: cover;
			background-size: 100%;
			height: 300px;

			@media (max-width: $small-screen) {
				height: 200px;
			}

			&:hover{
				background-size: 120%;
			}

			.bloc-projet-contenu{
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.67);
				font-size: 2.5em;

				h1{
					color: $white;
				}

				@media (max-width: $small-screen) {
					vertical-align: middle;
				}

				&:hover{
					color: $white;
					background-color: rgba(0,0,0,0.3);
				}
			}
		}

		p{
			text-align: justify;
		}

		.info{
			font-style: italic;
			font-size: 0.8em;
			background-color: $gris-back;
			border-radius: 3px;
			position: relative;
			padding: 1em;

			i{
				color: $bleu-link;
				font-size: 1.3em;
			}
		}

		h1,h2,h3{
			font-family: "proxima-bold", Helvetica, Arial, sans-serif !important;
			-webkit-font-smoothing: antialiased !important;
			-moz-osx-font-smoothing: grayscale !important;
			font-weight: 100 !important;
			text-align: center;
			color: $gris-title;
		}

		img{
			width: 100%;
		}

		.legend{
			background-color: $gris-back;
			text-align: center;
			font-style: italic;
			font-size: 0.8em;
		}
	}

	.bloc-avant-apres{
		&>a{

			width: 50% !important;

			@media (max-width: $small-screen) {
				width: 100% !important;

				.w20p{
					display: none !important;
				}

				.w80{
					width: 100% !important;
					padding: 0 !important;
				}


				*{
					text-align: center !important;
				}
			}

			&:hover{
				background-color: $gris_back;

				.titre-avant-article, .fa{
					color: $bleu-link;
				}
			}

			.col{
				vertical-align: middle !important;
			}
		}

		@media (max-width: $small-screen) {
			&>div{
				display: none;
			}
		}
	}

	.bloc-container-footer{
		background-color: $gris-back;
		border-top: 1px solid $gris-border;
		border-bottom: 1px solid $gris-border;
		// font-size: 1.4em !important;

		a{
			color: $gris-font;

			h1,h2,h3,h4,h5,h6{

				&:hover{
					color: $gris-font;
					text-decoration: underline;
				}
			}
		}

		&>.row{
			max-width: 600px;
			margin: auto;
			margin-top: 70px;
			margin-bottom: 70px;
			display: table !important;

			&>div:first-of-type{
				padding-top: 4px;

				@media (max-width: $small-screen) {
					padding-top: 9px;
				}

				@media (max-width: $medium-screen) {
					padding-top: 7px;
				}

				&.techno{
					padding-top: 0;
				}
			}

			@media (max-width: $small-screen) {
				.col-mobile{
					vertical-align: top !important;

					&.w30{
						width: 30% !important;
					}

					.w70{
						width: 70% !important;
					}
				}
			}

			@media (max-width: $tiny-screen) {
				.col-techno{
					span{
						display: block;
						margin: auto;
						text-align: center;
					}
				}
			}
		}
	}
}

.list2{
	@media (max-width: $small-screen) {
		.col{
			display: table-cell !important;
			width: auto;
		}
	}
}

.bloc-chargement{
	position: fixed;
	top: 48%;
	left: 48%;
}

.bloc-list-article{
	.preview-article{

		.preview-content{

			.border-online{
				padding: 0 5px;

				&.online{
					background-color: $vert;
				}
			}

			.preview-txt{

				a{
					color: $gris-font !important;

					&:hover{
						color: $bleu-link !important;
					}
				}
			}
		}
	}
}