@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.bloc-tablette {
		width: auto!important;
		display: block!important;
	}
}

@media (max-width: $small-screen) {
	.bloc-mobile {
		width: auto!important;
		display: block!important;
	}
}

@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
	.inline-tablette {
		width: auto!important;
		display: inline !important;
	}
}

@media (max-width: $small-screen) {
	.inline-mobile {
		width: auto!important;
		display: inline !important;
	}
}

.bloc-header{
	min-height: 440px;
	max-height: 100%;
	height: 100%;
	background-image: url('/dist/images/stan.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:$white;
	background-position: 50%;

	a{
		color: $white;

		&:hover{
			color: $white;
		}
	}

	.bloc-header-contenu{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.67);
		padding-top: 20px;

		.row{
			// height: 50%;

			&:first-of-type{
				padding-top: 10%;
				@media (max-width: $small-screen) {
					padding: 0;
				}
			}

			.col{
				height: 100%;

				&.w50{
					@media (max-width: $small-screen) {
						width: 100%;
						height: auto;
						display: block;
					}
				}

				&.txtright{
					padding-right: 150px !important;

					@media (max-width: $small-screen) {
						padding: 1em !important;
						text-align: center;
					}
				}

				&.txtleft{
					line-height: 30px;

					@media (max-width: $small-screen) {
						padding: 1em;
					}
				}

				.photo-profil{
					width: 150px;
					height: 150px;
					background-image: url("/dist/images/photo-profil.jpg");
					background-size: 150px 150px;
				}
			}

			&+.row{
				padding-top: 8%;
			}

			&:last-of-type{
				padding: 0 0 1em 0;
				position: absolute;
				width: 100%;
				bottom: 0;

				@media (max-height: 440px) {
					position: relative;
					padding-top: 2em;
				}

				.icone-fleche-bas{
					cursor: pointer;
				}
			}
		}
	}
}

.bloc-rond {
	@include border-radius(50%);
	background-color: #FFFFFF;
	&.cadre {
		border: 1px solid $gris-font;
	}
}

.bloc-footer{
	background-image: url('/dist/images/stan.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color:$white;
	background-position: 50% 82%;
	height: 300px;
	min-height: 300px;
	max-height: 300px;

	.bloc-footer-contenu{
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.67);

		&>div{
			padding-top: 142px;
		}
	}
}

.bloc-container{

	.bloc-baniere{
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
		height: 300px;
	}

	.bloc-titre{
		font-size: 4.5em;
		color: $gris-title;
		padding-top: 103px !important;
		padding-bottom: 103px !important;

		@media (max-width: $small-screen) {
			font-size: 3em;
		}
	}

	.bloc-ss-titre{	}

	.bloc-text{
		max-width: 600px;
		margin: auto;
		line-height: 30px;
		margin-top: 30px;
		padding-bottom: 100px;

		.list-a-propos{
			.col{
				&:first-of-type{
					min-width: 39px;
				}

				&+.col{
					padding-left: 3px;
				}
			}
		}
	}
}

.list2{
	@media (max-width: $small-screen) {
		.col{
			display: table-cell !important;
			width: auto;
		}
	}
}