.btn{
	&:hover{
		text-decoration: underline;
		cursor: pointer;
	}
}

.btn-header{
	border: 1px solid $white;
	border-radius: 3px;
	border-bottom: $white 3px solid;

	&:hover{
		text-decoration: none;
		background-color: $white;
		color: $gris-title !important;
	}
}

.btn-submit{
	// color: $bleu-link;
}

.btn-style{
	// background-color: $bleu-link;
	border-radius: 3px;
	border: 2px solid $bleu-link-border;
	color: $bleu-link-border;
	border-bottom: $bleu-link-border 3px solid;
	font-size: 18px;

	// @include text-shadow($txt-shadow);

	&:hover{
		color: $white;
		background-color: $bleu-link-border;
	}
}