.btn{
	&:hover{
		text-decoration: underline;
		cursor: pointer;
	}
}

.btn-header{
	border: 1px solid $white;

	&:hover{
		text-decoration: none;
		background-color: $white;
		color: $gris-title !important;
	}
}

.btn-submit{
	// color: $bleu-link;
}