$gris-font: #858383;
$gris-title: #343332;
$gris-border: #cdcdcd;
$gris_back: #F4F4F4;
$bleu-link: #4bb6d1;
$bleu-link-border: #3B96AC;
$bleu-link-hover: #41AAC4;
$white: #ffffff;
$noir: #000000;
$rouge: #f56361;
$vert : #3cd823;
$txt-shadow: #7D7D7D -1px -1px;