@include font-face("proxima", font-files("ProximaNovaRegular.ttf",
									  "ProximaNovaRegular.eot",
									  "ProximaNovaRegular.woff",
									  "ProximaNovaRegular.svg"));

.proxima {
	font-family: "proxima", Helvetica, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-weight: 100 !important;
}

@include font-face("proxima-bold", font-files("ProximaNovaBold.ttf",
									  "ProximaNovaBold.eot",
									  "ProximaNovaBold.woff",
									  "ProximaNovaBold.svg"));

.proxima-bold {
	font-family: "proxima-bold", Helvetica, Arial, sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
	font-weight: 100 !important;
}