input, select, textarea{
	border: 1px solid $gris-border !important;
	padding: 5px !important;
	color:$gris-font;
}

select,
select[size="0"],
select[size="1"] {
  background-image: image-url("/dist/images/icone-2x/arrow-down-gris.png");
  background-repeat: no-repeat;
  background-position: 97% 50%;
  background-size: 15px 15px;
 
  // For WebKit.
  @media (-webkit-min-device-pixel-ratio: 0) {
    padding-right: 30px;
  }

  &[multiple]{
  	background: none;
  }
}

option{
	color: $gris-font;
}

textarea{
	height: 400px;
	min-height: 400px;
	max-width: 100%;
	width: 100%;

  &#tags{
    min-height: 100px;
    height: 100px;
  }
}