html{
	@media (max-width: $small-screen) {
		font-size: 48%;
		font-size: calc(1em * 0.48);
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}

	@media (min-width: $small-screen + 1) and (max-width: $medium-screen) {
		font-size: 55%;
		font-size: calc(1em * 0.55);
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

html,body, .bloc-body{
	height: 100%;
	min-height: 100%;
	color: $gris-font;
}

body{
	position: relative;
}

.bloc-body{
	opacity: 0;
	// position: relative;
}

*::selection{
	background: rgba(245, 99, 97, 0.6);
	// color: $white;
}

*::-moz-selection{
	background: rgba(245, 99, 97, 0.6);
	// color: $white;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $noir;
	opacity: 0.67;
}

.txtmiddle{
	vertical-align: middle;
}

a, .a-like{
	color:$bleu-link;
	text-decoration: none;
	outline: none;
	border: none;
	cursor: pointer;

	&:hover{
		color: $bleu-link;
		text-decoration: underline;
	}
}

.not-a-like{
	color: inherit;
	text-decoration: none;
	&:hover{
		text-decoration: none;
		color: inherit;
	}
}

.uppercase{
	text-transform: uppercase;
}

.transition{
  @include transition-property(all);
  @include transition-duration(0.04s);
  @include transition-timing-function(ease);
}

.transition-fast{
  @include transition-property(all);
  @include transition-duration(0.3s);
  @include transition-timing-function(ease);
}

.transition-medium{
  @include transition-property(all);
  @include transition-duration(0.7s);
  @include transition-timing-function(ease);
}

.transition-slow{
  @include transition-property(all);
  @include transition-duration(1.3s);
  @include transition-timing-function(ease);
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;

	li{
		padding: 0;
		margin: 0;
		// @media (max-width: 600px) {
		// 	margin: 10px 0;
		// }
	}
}

.dnone{
	display: none;
}

.txtrouge{
	color: $rouge;
}

.txtvert{
	color: $vert;
}

.txtwhite{
	color: $white;
}

.txtbleu{
	color: $bleu-link;
}

.txtgristitle{
	color: $gris-title;
}

.alert, .chargement, .notif{
	display: none;
}

img{
	max-width: 100%;
}

.lh1{
	line-height: 1em;
}

.preview-photo{
	border: 1px dashed $gris-border;
	padding: 5px;
	min-height: 50px;
	position: relative;

	.preview-photo-options{
		position: absolute;
		bottom: 0;
		width: 100%;
		left: 0;
		background-color: rgba(0,0,0,0.6);

		[class^='icone-cross']{
			cursor: pointer;
		}
	}
}

.date{
	cursor: default !important;
	&.date-jour{
		display: none;
	}
}

.go-back{
	line-height: 30px;
	width: 100%;
	background-color: $white;
	display: none;

	&>div{
		max-width: 600px;
		margin: auto;
	}

	a{
		padding: 0px 9px;
		border: 2px solid $gris-font;
		border-radius: 3px;
		color: $gris-font;

		&:hover{
			color: $white;
			background-color: $gris-font;
		}
	}

	&#go-back{
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		display: none;

		padding-top: 9px !important;

		@media
	    only screen and (-webkit-min-device-pixel-ratio: 2),
	    only screen and ( min—moz-device-pixel-ratio: 2),
	    only screen and ( -o-min-device-pixel-ratio: 2/1),
	    only screen and ( min-device-pixel-ratio: 2),
	    only screen and ( min-resolution: 192dpi),
	    only screen and ( min-resolution: 2dppx) {
	        padding-top: 18px !important;
	    }
	}

	&#go-back-bloc{
		opacity: 0;
	}
}